<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Team</title>
  </head>
  <body>
    <ul>
      <li>Team Name: <%= @team.name %></li>
      <li>Coach: <%= @team.coach %></li>
      <li>Point Guard: <%= @team.pg %></li>
      <li>Shooting Guard: <%= @team.sg %></li>
      <li>Power Forward: <%= @team.pf %></li>
      <li>Small Forward: <%= @team.sf %></li>
      <li>Center: <%= @team.c %></li>
    </ul>
  </body>
</html>
