<h1>Basketball Team</h1>
<div>
  <p>Team Name: <%= @team.name %></p>
  <p>Coach: <%= @team.coach %></p>
  <p>Point Guard: <%= @team.pg%></p>
  <p>Shooting Guard: <%= @team.sg %></p>
  <p>Power Forward: <%= @team.pf%></p>
  <p>Small Forward: <%= @team.sf %></p>
  <p>Center: <%= @team.c %></p>
</div>
