<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Team</title>
  </head>
  <body>
    <!--
      TODO: Display the team information here!

      Your view should display:
      - Team Name: [team name]
      - Coach: [coach name]
      - Point Guard: [pg name]
      - Shooting Guard: [sg name]
      - Power Forward: [pf name]
      - Small Forward: [sf name]
      - Center: [c name]

      Use the data passed from your controller action.
    -->
  <%= form_with url: "/teams", method: :post, local: true do |form| %>
  
  <%= form.label :team_name %>
  <%= form.text_field :team_name %>

  <%= form.label :coach %>
  <%= form.text_field :coach %>

   <%= form.label :pg_name %>
  <%= form.text_field :pg_name %>

   <%= form.label :sg_name %>
  <%= form.text_field :sg_name %>

   <%= form.label :sf_name %>
  <%= form.text_field :sf_name %>

   <%= form.label :pf_name %>
  <%= form.text_field :pf_name %>

   <%= form.label :c_name %>
  <%= form.text_field :c_name %>

  <%= form.submit "Add Team" %>
<% end %>

  </body>
</html>
