<h1>New Basketball Team</h1>
  <%= form_with url: '/team', local: true do |form| %>
  <div>
    <%= form.label :name, "Team Name" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :coach, "Coach" %>
    <%= form.text_field :coach %>
  </div>

  <div>
    <%= form.label :pg, "Point Guard" %>
    <%= form.text_field :pg %>
  </div> 

  <div>
    <%= form.label :sg, "Shooting Guard" %>
    <%= form.text_field :sg %>
  </div>
  
  <div>
    <%= form.label :pf, "Power Forward" %>
    <%= form.text_field :pf %>
  </div>

  <div>
    <%= form.label :sf, "Small Forward" %>
    <%= form.text_field :sf %>
  </div>

  <div>
    <%= form.label :c, "Center" %>
    <%= form.text_field :c %>
  </div>

  <div>
    <%= form.submit "Submit"%>
  </div>
  <% end %>
  </body>
</html>
