<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Team Signup</title>
  </head>
  <body>

    <h1> Basketball Team Signup</h1>

    <%= form_with model: @team, local: true do |form| %>
    <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prevented this team from being saved:</h2>
      <ul>
        <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
      <% if @team.errors[:name].any? %>
      <span class="error"><%= @team.errors[:name].first %></span>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :coach %>
      <%= form.text_field :coach %>
      <% if @team.errors[:coach].any? %>
      <span class="error"><%= @team.errors[:coach].first %></span>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :pg %>
      <%= form.text_field :pg %>
      <% if @team.errors[:pg].any? %>
      <span class="error"><%= @team.errors[:pg].first %></span>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :sg %>
      <%= form.text_field :sg %>
      <% if @team.errors[:sg].any? %>
      <span class="error"><%= @team.errors[:sg].first %></span>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :pf %>
      <%= form.text_field :pf %>
      <% if @team.errors[:pf].any? %>
      <span class="error"><%= @team.errors[:pf].first %></span>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :sf %>
      <%= form.text_field :sf %>
      <% if @team.errors[:sf].any? %>
      <span class="error"><%= @team.errors[:sf].first %></span>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :c %>
      <%= form.text_field :c %>
      <% if @team.errors[:c].any? %>
      <span class="error"><%= @team.errors[:c].first %></span>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
    <% end %>
  </body>
</html>
