<h1>New Basketball Team</h1>

  <%= form_with model: @team, url: '/team' do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, id: "name"%>
  </div>

  <div>
    <%= form.label :coach %>
    <%= form.text_field :coach, id: "coach"%>
  </div>

  <div>
    <%= form.label :pg %>
    <%= form.text_field :pg, id: "pg"%>
  </div> 

  <div>
    <%= form.label :sg %>
    <%= form.text_field :sg, id: "sg" %>
  </div>
  
  <div>
    <%= form.label :pf %>
    <%= form.text_field :pf, id: "pf" %>
  </div>

  <div>
    <%= form.label :sf%>
    <%= form.text_field :sf, id: "sf" %>
  </div>

  <div>
    <%= form.label :c %>
    <%= form.text_field :c, id: "c" %>
  </div>

  <div>
    <%= form.submit "Submit"%>
  </div>
  <% end %>
  </body>
</html>


#url: use it for a path instead.
